@import "tailwindcss";

/* Custom base styles */

body {
  font-family: system-ui, sans-serif;
}

/* optional scrollbar styling */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}